<html lang="en">
	<head>
		<% include ../partials/ldOut %>
		 <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<style>
		.modal-overlay {
		    dialogClass: "no-close";
    		display: none; /* Hidden by default */
    		position: fixed; /* Stay in place */
    		z-index: 1; /* Sit on top */
    		padding-top: 100px; /* Location of the box */
    		left: 0;
   			top: 0;
    		width: 100%; /* Full width */
    		height: 100%; /* Full height */
    		overflow: auto; /* Enable scroll if needed */
    		background-color: rgb(0,0,0); /* Fallback color */
    		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		} 
		.warning-content {
   			 background-color: #fefefe;
   			 padding: 10px;
   			 border: 1px solid #888;
   			 border-radius: 2px;
    		box-shadow:0 5px 15px rgba(0,0,0,.5);
		}
	</style>
	
	<body>
		<header>
		</header>
		<main>
			<div id="renderLtngComp"/>
		</main>
		
		<div id="modalWarning" class="modal-overlay" style="width: 100%;height: 100%;">
		  	<div class="container">
    				<div class="row">
       					<div class="col-md-3"></div>
					<div class="col-md-6">
                				<div class="warning-content clearfix">
                    					Your session has expired. Click OK to restart it.
                    					<br/><br/>
                    					<button style="float:right;width:100px;" class="btn btn-outline-info" onclick="okConfirmation();">OK</button>
               		 			</div>
					</div>
					<div class="col-md-3"></div>
    				</div>
			</div>
		</div>
		
		<div id="modalSafariEnable" class="modal-overlay" style="width: 100%  !important;height: 100%  !important; display: block">
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="warning-content clearfix">
							The webpage cannot open because cookies are not enabled. Enable cookies in your browser and then retry, or use another browser.
							<br/><br/>
							<button style="float:right;width:100px;" class="btn btn-outline-info" onclick="okConfirm();">Ok</button>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
		
		<footer>
		</footer>
		<script> 
			var SS = SS || { };			
            
			SS.LightningActions = (function() {
				"use strict";
				function onWinLoad() {
				    $("#modalWarning").hide();
					$("#modalSafariEnable").hide();
					var vars = getUrlVars();
					isSafariBrowser();
					if(vars["action"]=="oauth"){
						alert("OAuth Successful");
						window.open(window.location.href, '_self', '');
							window.close();
					}
				}
				
				function getUrlVars(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				    }
				    return vars;
				}
				
				function isSafariBrowser(){
					var isSafari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
                           navigator.userAgent && !navigator.userAgent.match('CriOS');
					if(!navigator.cookieEnabled && isSafari){
        				console.log('ModalWarning check :: 111 ');
					$("#modalSafariEnable").show();
        				//$("#modalSafariEnable").dialog();
        				//$("#modalSafariEnable").style.display = "block";
        			}
        			return false;
				}
				
				var _0xd00b=["\x72\x65\x6E\x49\x64","\x6C\x6F\x67","\x6F\x72\x67\x49\x64\x3D\x20","\x73\x65\x73\x73\x69\x6F\x6E\x49\x64\x6C\x65\x54\x69\x6D\x65\x20\x3A\x20","\x62\x65\x66\x6F\x72\x65\x20\x63\x61\x6C\x6C\x69\x6E\x67\x20\x6C\x6F\x61\x64\x20\x63\x6F\x6D\x70\x6F\x6E\x65\x6E\x74","\x6F\x6E\x6C\x6F\x61\x64","\x75\x73\x65","\x69\x64\x6C\x65\x49\x6E\x74\x65\x72\x76\x61\x6C\x20\x3A\x20","\x6B\x65\x79\x70\x72\x65\x73\x73","\x6D\x6F\x75\x73\x65\x64\x6F\x77\x6E\x20\x3A\x20","\x6D\x6F\x75\x73\x65\x64\x6F\x77\x6E","\x4D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67\x20\x63\x68\x65\x63\x6B\x20\x3A\x3A\x20\x20","\x6D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x64\x69\x73\x70\x6C\x61\x79","\x73\x74\x79\x6C\x65","\x62\x6C\x6F\x63\x6B","\x72\x65\x61\x64\x79","\x65\x72\x72\x3A\x3A"];function LDLTCMPCreate(){var _0xb901x2='<%= accesstoken %>';var _0xb901x3='<%= sfdcurl %>';var _0xb901x4='<%= orgid %>';var _0xb901x5=getUrlVars()[_0xd00b[0]];var _0xb901x6='<%= idletime %>';console[_0xd00b[1]](_0xb901x3);console[_0xd00b[1]](_0xb901x2);console[_0xd00b[1]](_0xd00b[2]+ _0xb901x4);console[_0xd00b[1]](_0xd00b[3]+ _0xb901x6);try{$Lightning[_0xd00b[6]]('<%= namespace %>LDLT',function(_0xb901x7){console[_0xd00b[1]](_0xd00b[4]);LDT_loadComponent(_0xd00b[5],_0xb901x2)},_0xb901x3,_0xb901x2);$(document)[_0xd00b[17]](function(){var _0xb901x8=0;var _0xb901x9=setInterval(_0xb901xb,65000);console[_0xd00b[1]](_0xd00b[7]+ _0xb901x9);$(this)[_0xd00b[8]](function(_0xb901xa){_0xb901x8= 0});$(this)[_0xd00b[10]](function(_0xb901xa){console[_0xd00b[1]](_0xd00b[9]+ _0xb901x8);_0xb901x8= 0});function _0xb901xb(){_0xb901x8= _0xb901x8+ 1;if(_0xb901x8>= _0xb901x6){console[_0xd00b[1]](_0xd00b[11]+ document[_0xd00b[13]](_0xd00b[12]));document[_0xd00b[13]](_0xd00b[12])[_0xd00b[15]][_0xd00b[14]]= _0xd00b[16]}}})}catch(err){console[_0xd00b[1]](_0xd00b[18]+ err)}}
			
				function LDT_loadComponent(type, accessToken, subjectId) {
					console.log("Access token within Load Comp :"+accessToken);
					var id = getUrlVars()["renId"];
					var successflag = getUrlVars()["successflag"];
					document.getElementById("renderLtngComp").innerHTML = "";
					$Lightning.createComponent("<%= namespace %>REN_LT_MainComponent", {type: type, subjectId: subjectId, renId:id, oauthId: accessToken}, "renderLtngComp");
				}
				
				return {
					LDLTCMPCreate : LDLTCMPCreate,
					onWinLoad : onWinLoad
				};
			}());
			window.onload =function(){
				SS.LightningActions.onWinLoad();
			}
			
			function getUrlVars(){
				var vars = [], hash;
				var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				for(var i = 0; i < hashes.length; i++){
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				}
				return vars;
			}
			
			function okConfirmation() {
				var accessToken="<%= accesstoken %>";
				var sfdcurl = "<%= sfdcurl %>";
				var orgid = "<%= orgid %>";
				var id = getUrlVars()["renId"];
				var sessionIdleTime = "<%= idletime %>";
					
				console.log(sfdcurl);
				console.log(accessToken);
				console.log('orgId= '+orgid);
				console.log('sessionIdleTime : '+sessionIdleTime);
				console.log(' okConfirmation called   ');
			    window.open('/accesstoken?orgid='+orgid+'&renId='+id, '_self', '');
			}
			
			function okConfirm() {
			    var accessToken="<%= accesstoken %>";
				var sfdcurl = "<%= sfdcurl %>";
				var orgid = "<%= orgid %>";
				var id = getUrlVars()["renId"];
				var sessionIdleTime = "<%= idletime %>";
					
				console.log(sfdcurl);
				console.log(accessToken);
				console.log('orgId= '+orgid);
				console.log('sessionIdleTime : '+sessionIdleTime);
				console.log(' okConfirmation called   ');
				window.open('/accesstoken?orgid='+orgid+'&renId='+id, '_self', '');
                window.close();
			}
			
			SS.LightningActions.LDLTCMPCreate();
		</script>
	</body>
</html>