<html lang="en">
	<head>
		<% include ../partials/ldOut %>
		 <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
	     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<style>
		.modal-overlay {
		    dialogClass: "no-close";
    		display: none; /* Hidden by default */
    		position: fixed; /* Stay in place */
    		z-index: 1; /* Sit on top */
    		padding-top: 100px; /* Location of the box */
    		left: 0;
   			top: 0;
    		width: 100%; /* Full width */
    		height: 100%; /* Full height */
    		overflow: auto; /* Enable scroll if needed */
    		background-color: rgb(0,0,0); /* Fallback color */
    		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		} 
		.warning-content {
   			 background-color: #fefefe;
   			 padding: 10px;
   			 border: 1px solid #888;
   			 border-radius: 2px;
    		box-shadow:0 5px 15px rgba(0,0,0,.5);
		}
	</style>
	
	<body>
		<header>
		</header>
		<main>
			<div id="renderLtngComp"/>
		</main>
		
		<div id="modalWarning" class="modal-overlay" style="width: 100%;height: 100%;">
		  	<div class="container">
    				<div class="row">
       					<div class="col-md-3"></div>
					<div class="col-md-6">
                				<div class="warning-content clearfix">
                    					Your session has expired. Click OK to restart it.
                    					<br/><br/>
                    					<button style="float:right;width:100px;" class="btn btn-outline-info" onclick="okConfirmation();">OK</button>
               		 			</div>
					</div>
					<div class="col-md-3"></div>
    				</div>
			</div>
		</div>
		
		<div id="modalSafariEnable" class="modal-overlay" style="width: 100%  !important;height: 100%  !important; display: block">
			<div class="container">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="warning-content clearfix">
							The webpage cannot open because cookies are not enabled. Enable cookies in your browser and then retry, or use another browser.
							<br/><br/>
							<button style="float:right;width:100px;" class="btn btn-outline-info" onclick="okConfirm();">Ok</button>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
		
		<footer>
		</footer>
		<script> 
			var _0x9562=["\x4C\x69\x67\x68\x74\x6E\x69\x6E\x67\x41\x63\x74\x69\x6F\x6E\x73","\x75\x73\x65\x20\x73\x74\x72\x69\x63\x74","\x68\x69\x64\x65","\x23\x6D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67","\x23\x6D\x6F\x64\x61\x6C\x53\x61\x66\x61\x72\x69\x45\x6E\x61\x62\x6C\x65","\x61\x63\x74\x69\x6F\x6E","\x6F\x61\x75\x74\x68","\x4F\x41\x75\x74\x68\x20\x53\x75\x63\x63\x65\x73\x73\x66\x75\x6C","\x68\x72\x65\x66","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x5F\x73\x65\x6C\x66","","\x6F\x70\x65\x6E","\x63\x6C\x6F\x73\x65","\x26","\x73\x70\x6C\x69\x74","\x3F","\x69\x6E\x64\x65\x78\x4F\x66","\x73\x6C\x69\x63\x65","\x6C\x65\x6E\x67\x74\x68","\x3D","\x70\x75\x73\x68","\x76\x65\x6E\x64\x6F\x72","\x41\x70\x70\x6C\x65","\x75\x73\x65\x72\x41\x67\x65\x6E\x74","\x43\x72\x69\x4F\x53","\x6D\x61\x74\x63\x68","\x63\x6F\x6F\x6B\x69\x65\x45\x6E\x61\x62\x6C\x65\x64","\x4D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67\x20\x63\x68\x65\x63\x6B\x20\x3A\x3A\x20\x31\x31\x31\x20","\x6C\x6F\x67","\x73\x68\x6F\x77","\x72\x65\x6E\x49\x64","\x6F\x72\x67\x49\x64\x3D\x20","\x73\x65\x73\x73\x69\x6F\x6E\x49\x64\x6C\x65\x54\x69\x6D\x65\x20\x3A\x20","\x62\x65\x66\x6F\x72\x65\x20\x63\x61\x6C\x6C\x69\x6E\x67\x20\x6C\x6F\x61\x64\x20\x63\x6F\x6D\x70\x6F\x6E\x65\x6E\x74","\x6F\x6E\x6C\x6F\x61\x64","\x75\x73\x65","\x69\x64\x6C\x65\x49\x6E\x74\x65\x72\x76\x61\x6C\x20\x3A\x20","\x6B\x65\x79\x70\x72\x65\x73\x73","\x6D\x6F\x75\x73\x65\x64\x6F\x77\x6E\x20\x3A\x20","\x6D\x6F\x75\x73\x65\x64\x6F\x77\x6E","\x4D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67\x20\x63\x68\x65\x63\x6B\x20\x3A\x3A\x20\x20","\x6D\x6F\x64\x61\x6C\x57\x61\x72\x6E\x69\x6E\x67","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x64\x69\x73\x70\x6C\x61\x79","\x73\x74\x79\x6C\x65","\x62\x6C\x6F\x63\x6B","\x72\x65\x61\x64\x79","\x65\x72\x72\x3A\x3A","\x41\x63\x63\x65\x73\x73\x20\x74\x6F\x6B\x65\x6E\x20\x77\x69\x74\x68\x69\x6E\x20\x4C\x6F\x61\x64\x20\x43\x6F\x6D\x70\x20\x3A","\x73\x75\x63\x63\x65\x73\x73\x66\x6C\x61\x67","\x69\x6E\x6E\x65\x72\x48\x54\x4D\x4C","\x72\x65\x6E\x64\x65\x72\x4C\x74\x6E\x67\x43\x6F\x6D\x70","\x63\x72\x65\x61\x74\x65\x43\x6F\x6D\x70\x6F\x6E\x65\x6E\x74","\x6F\x6E\x57\x69\x6E\x4C\x6F\x61\x64","\x20\x6F\x6B\x43\x6F\x6E\x66\x69\x72\x6D\x61\x74\x69\x6F\x6E\x20\x63\x61\x6C\x6C\x65\x64\x20\x20\x20","\x2F\x61\x63\x63\x65\x73\x73\x74\x6F\x6B\x65\x6E\x3F\x6F\x72\x67\x69\x64\x3D","\x26\x72\x65\x6E\x49\x64\x3D"];var SS=SS|| {};SS[_0x9562[0]]= (function(){_0x9562[1];function _0xf0efx2(){$(_0x9562[3])[_0x9562[2]]();$(_0x9562[4])[_0x9562[2]]();var _0xf0efx3=getUrlVars();_0xf0efx8();if(_0xf0efx3[_0x9562[5]]== _0x9562[6]){alert(_0x9562[7]);window[_0x9562[12]](window[_0x9562[9]][_0x9562[8]],_0x9562[10],_0x9562[11]);window[_0x9562[13]]()}}function getUrlVars(){var _0xf0efx3=[],_0xf0efx5;var _0xf0efx6=window[_0x9562[9]][_0x9562[8]][_0x9562[18]](window[_0x9562[9]][_0x9562[8]][_0x9562[17]](_0x9562[16])+ 1)[_0x9562[15]](_0x9562[14]);for(var _0xf0efx7=0;_0xf0efx7< _0xf0efx6[_0x9562[19]];_0xf0efx7++){_0xf0efx5= _0xf0efx6[_0xf0efx7][_0x9562[15]](_0x9562[20]);_0xf0efx3[_0x9562[21]](_0xf0efx5[0]);_0xf0efx3[_0xf0efx5[0]]= _0xf0efx5[1]};return _0xf0efx3}function _0xf0efx8(){var _0xf0efx9=navigator[_0x9562[22]]&& navigator[_0x9562[22]][_0x9562[17]](_0x9562[23])>  -1&& navigator[_0x9562[24]]&&  !navigator[_0x9562[24]][_0x9562[26]](_0x9562[25]);if(!navigator[_0x9562[27]]&& _0xf0efx9){console[_0x9562[29]](_0x9562[28]);$(_0x9562[4])[_0x9562[30]]()};return false}function _0xf0efxa(){var _0xf0efxb='<%= accesstoken %>';var _0xf0efxc='<%= sfdcurl %>';var _0xf0efxd='<%= orgid %>';var _0xf0efxe=getUrlVars()[_0x9562[31]];var _0xf0efxf='<%= idletime %>';console[_0x9562[29]](_0xf0efxc);console[_0x9562[29]](_0xf0efxb);console[_0x9562[29]](_0x9562[32]+ _0xf0efxd);console[_0x9562[29]](_0x9562[33]+ _0xf0efxf);try{$Lightning[_0x9562[36]]('<%= namespace %>LDLT',function(_0xf0efx10){console[_0x9562[29]](_0x9562[34]);_0xf0efx15(_0x9562[35],_0xf0efxb)},_0xf0efxc,_0xf0efxb);$(document)[_0x9562[47]](function(){var _0xf0efx11=0;var _0xf0efx12=setInterval(_0xf0efx14,65000);console[_0x9562[29]](_0x9562[37]+ _0xf0efx12);$(this)[_0x9562[38]](function(_0xf0efx13){_0xf0efx11= 0});$(this)[_0x9562[40]](function(_0xf0efx13){console[_0x9562[29]](_0x9562[39]+ _0xf0efx11);_0xf0efx11= 0});function _0xf0efx14(){_0xf0efx11= _0xf0efx11+ 1;if(_0xf0efx11>= _0xf0efxf){console[_0x9562[29]](_0x9562[41]+ document[_0x9562[43]](_0x9562[42]));document[_0x9562[43]](_0x9562[42])[_0x9562[45]][_0x9562[44]]= _0x9562[46]}}})}catch(err){console[_0x9562[29]](_0x9562[48]+ err)}}function _0xf0efx15(_0xf0efx16,_0xf0efxb,_0xf0efx17){console[_0x9562[29]](_0x9562[49]+ _0xf0efxb);var _0xf0efxe=getUrlVars()[_0x9562[31]];var _0xf0efx18=getUrlVars()[_0x9562[50]];document[_0x9562[43]](_0x9562[52])[_0x9562[51]]= _0x9562[11];$Lightning[_0x9562[53]]('<%= namespace %>REN_LT_MainComponent',{type:_0xf0efx16,subjectId:_0xf0efx17,renId:_0xf0efxe,oauthId:_0xf0efxb},_0x9562[52])}return {LDLTCMPCreate:_0xf0efxa,onWinLoad:_0xf0efx2}}());window[_0x9562[35]]= function(){SS[_0x9562[0]][_0x9562[54]]()};function getUrlVars(){var _0xf0efx3=[],_0xf0efx5;var _0xf0efx6=window[_0x9562[9]][_0x9562[8]][_0x9562[18]](window[_0x9562[9]][_0x9562[8]][_0x9562[17]](_0x9562[16])+ 1)[_0x9562[15]](_0x9562[14]);for(var _0xf0efx7=0;_0xf0efx7< _0xf0efx6[_0x9562[19]];_0xf0efx7++){_0xf0efx5= _0xf0efx6[_0xf0efx7][_0x9562[15]](_0x9562[20]);_0xf0efx3[_0x9562[21]](_0xf0efx5[0]);_0xf0efx3[_0xf0efx5[0]]= _0xf0efx5[1]};return _0xf0efx3}function okConfirmation(){var _0xf0efxb='<%= accesstoken %>';var _0xf0efxc='<%= sfdcurl %>';var _0xf0efxd='<%= orgid %>';var _0xf0efxe=getUrlVars()[_0x9562[31]];var _0xf0efxf='<%= idletime %>';console[_0x9562[29]](_0xf0efxc);console[_0x9562[29]](_0xf0efxb);console[_0x9562[29]](_0x9562[32]+ _0xf0efxd);console[_0x9562[29]](_0x9562[33]+ _0xf0efxf);console[_0x9562[29]](_0x9562[55]);window[_0x9562[12]](_0x9562[56]+ _0xf0efxd+ _0x9562[57]+ _0xf0efxe,_0x9562[10],_0x9562[11])}function okConfirm(){var _0xf0efxb='<%= accesstoken %>';var _0xf0efxc='<%= sfdcurl %>';var _0xf0efxd='<%= orgid %>';var _0xf0efxe=getUrlVars()[_0x9562[31]];var _0xf0efxf='<%= idletime %>';console[_0x9562[29]](_0xf0efxc);console[_0x9562[29]](_0xf0efxb);console[_0x9562[29]](_0x9562[32]+ _0xf0efxd);console[_0x9562[29]](_0x9562[33]+ _0xf0efxf);console[_0x9562[29]](_0x9562[55]);window[_0x9562[12]](_0x9562[56]+ _0xf0efxd+ _0x9562[57]+ _0xf0efxe,_0x9562[10],_0x9562[11]);window[_0x9562[13]]()}SS[_0x9562[0]].LDLTCMPCreate()
		</script>
	</body>
</html>