<html lang="en">
	<head>
		<% include ../partials/ldOut %>
		 <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
	</head>
	<body>
		<header>
		</header>
		<main>
			<div id="renderLtngComp"/>
		</main>
		<footer>
		</footer>
		<script> 
			var SS = SS || { };

			SS.LightningActions = (function() {
				"use strict";

				function onWinLoad() {
					var vars = getUrlVars();
					if(vars["action"]=="oauth"){
						alert("OAuth Successful");
						window.open(window.location.href, '_self', '');
							window.close();
					}
				}
				
				function getUrlVars(){
				    var vars = [], hash;
				    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
				    for(var i = 0; i < hashes.length; i++)
				    {
					hash = hashes[i].split('=');
					vars.push(hash[0]);
					vars[hash[0]] = hash[1];
				    }
				    return vars;
				}
				
				function LDLTCMPCreate() {
					var accessToken="<%= accesstoken %>";
					var sfdcurl = "<%= sfdcurl %>";
					var orgid = "<%= orgid %>";
					var id = getUrlVars()["renId"];
					var sessionIdleTime = "<%= idletime %>";
					console.log('sessionIdleTime'+sessionIdleTime);
					console.log(sfdcurl);
				
					try {
						$Lightning.use("<%= namespace %>LDLT", function(cmp){
							console.log('before calling load component');
							LDT_loadComponent('onload', accessToken);
						}, sfdcurl, accessToken);
						$(document).ready(function () {
							var idleTime = 0;
						    //Increment the idle time counter every minute.
						    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute
						    //console.log('idleInterval : '+idleInterval);
						    //Zero the idle timer on mouse movement.
						    
						    $(this).keypress(function (e) {
						        idleTime = 0;
						    });
						    $(this).mousedown(function (e) {
						        console.log('mousedown : '+idleTime);
						        idleTime = 0;
						    });
	
							function timerIncrement() {
							    idleTime = idleTime + 1;
							    if (idleTime >= sessionIdleTime) { // 20 minutes
							        //window.location.reload();
							        alert('You are idle for more than '+sessionIdleTime+' minutes');
							        window.open('/accesstoken?orgid='+orgid+'&renId='+id, '_self', '');
							    }
							}
						});
					} catch(err) {
						console.log('err::'+err);
					}
				}
			
				function LDT_loadComponent(type, accessToken, subjectId) {
					console.log("Access token within Load Comp :"+accessToken);
					var id = getUrlVars()["renId"];
					var successflag = getUrlVars()["successflag"];
					document.getElementById("renderLtngComp").innerHTML = "";
					$Lightning.createComponent("<%= namespace %>REN_LT_MainComponent", {type: type, subjectId: subjectId, renId:id, oauthId: accessToken}, "renderLtngComp");
				}
				
				return {
					LDLTCMPCreate : LDLTCMPCreate,
					onWinLoad : onWinLoad
				};

			}());

			window.onload =function(){
				SS.LightningActions.onWinLoad();
			}
			
			SS.LightningActions.LDLTCMPCreate();
		</script>
	</body>
</html>
